_fig1.png			
pr_min_wealth2.png
_fig2.png			
pr_min_wealth2.svg
_fig3.png			
pr_region.png
_top.png			
pr_region.svg
fig1.svg			
taiwan_pr.svg
fig2.svg			
tw_decile.png
fig3.svg
pr_min_wealth.png		
pr_min_wealth.svg		
pr_min_wealth2-01.svg
pr_min_wealth2.ai